@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #27282c;

}

/* Custom Scrollbar*/

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #27282c;
}

::-webkit-scrollbar-thumb {
    background: #F0DB4F;
}

/* Custom Scrollbar End */

h1 {
    font-size: 40px;
    font-style: italic;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
}

h2,
h3,
p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    padding: auto;
}

/* name design */
.container {
    width: 100%;


}

span {
    color: #F0DB4F;
    text-shadow: 0 0 35px #F0DB4F;
}

/* buttons */
#main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;

}

.main-btn {
    margin-top: 16px;
    position: relative;
    background: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.main-btn:hover {
    background-color: var(--clr);
    color: var(--clr);
    letter-spacing: 0.12em;
    box-shadow: 0 0 35px var(--clr);
}
.main-btn::before {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}
.main-btn span {
    position: relative;
    z-index: 1;
}
.main-btn i {
    position: absolute;
    inset: 0;
    display: block;
}
.main-btn i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background-color: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.main-btn:hover i::before {
    width: 20%;
    left: 20%;
}
.main-btn i::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 80%;
    width: 10px;
    height: 4px;
    background-color: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.main-btn:hover i::after {
    width: 20%;
    left: 80%;
}

